@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Baloo Da 2', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;